body {
   margin: 0;
   position: relative;
}

#app > * {
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background-color: #333;
   color: white;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   font-family: sans-serif;

   h1 {
      text-align: center;
   }

   b {
      background-color: #ccc;
      color: #333;
      padding: 2px;
      border-radius: 5px;
      margin: 2px;
      display: inline-block;
   }

   button {
      background-color: cyan;
      padding: 5px;
      border-radius: 5px;
      margin: 5px;
      border: 1px solid white;
   }
}